<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RequestForm</title>
</head>

<body>
    <form action="/requestform" method="POST">
        <br>
        <input type="text" placeholder="Name" name="username"> <br>
        <input type="number" placeholder="Age" name="age"> <br>
        <input type="text" placeholder="Gender" name="gender"> <br>
        <input type="text" placeholder="Blood Group" name="bloodgroup"> <br>
        <input type="email" placeholder="Email" name="email"> <br>
        <input type="text" placeholder="Address" name="address"> <br>
        <input type="text" placeholder="City" name="city"> <br>
        <input type="number" placeholder="Pincode" name="pincode"> <br>
        <input type="number" placeholder="Contact No" name="contactno"> <br>
        <input type="submit" name="submit">

    </form>
</body>

</html>