<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial,sans-serif;
  margin: 10;
}


.about-section {
  padding: 150px;
  text-align: center;
  background-color:#ff6666;
  color: black;
}



@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    display: inherit;
  }
}
</style>
</head>
<body>

<div class="about-section">
  <h1>NALAIYATHIRAN </h1>
  <p>PROJECT TITLE : PLASMA DONOR APPLICATION</p>
  <p>TEAM MEMBERS : 4</p>
  <p>TEAM LEAD : SHERAZ JABEEN</p>
  <p>TEAM MEMBER 1 : SAKTHI ABIRAMI C</p>
  <p>TEAM MEMBER 2 : LEELAVATHY </p>
  <p>TEAM MEMBER 3 : PREMA</p>
</div>
  

</body>
</html>
