<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
</head>

<!--REDIRECT AFTER CLICKING THE SUBMIT BUTTON -->

<body style="background-image:url('https://img.freepik.com/free-vector/copy-space-abstract-green-background-with-shiny-elements_23-2148827896.jpg?w=2000' );background-size: cover;">
    <center>
        <h1>Thank You for sending the Request.</h1>
    </center>
</body>

</html>